/* { color: hsl(228, 45%, 44%); } */

/* Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --primary-font: "Big Shoulders Display", cursive;
  --secondary-font: "Lexend Deca", sans-serif;
  --regular-weight: 400;
  --bold-weight: 700;
  --primary-card-color: hsl(31, 77%, 52%);
  --secondary-card-color: hsl(184, 100%, 22%);
  --tertiary-card-color: hsl(179, 100%, 13%);
  --para-color: hsla(0, 0%, 100%, 0.75);
  --head-color: hsl(0, 0%, 95%);
  --button-color: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: var(--primary-font);
  font-weight: var(--bold-weight);
  text-transform: uppercase;
  color: var(--head-color);
  font-size: 2.5rem;
  line-height: 1.2;
}

a {
  font-size: 15px;
  text-transform: capitalize;
  border: none;
  border-radius: 26px;
  background-color: var(--button-color);
  font-family: inherit;
  padding: 0.6em 1.4em;
  text-decoration: none;
  transition-property: background transform border;
  transition-duration: 0.5s;
}

p {
  color: var(--para-color);
}

/* CARD BG COLOR */

.primary-card {
  background-color: var(--primary-card-color);
}

.secondary-card {
  background-color: var(--secondary-card-color);
}

.tertiary-card {
  background-color: var(--tertiary-card-color);
}

/* CARD BUTTON COLOR */

.primary-card-btn {
  color: var(--primary-card-color);
}

.secondary-card-btn {
  color: var(--secondary-card-color);
}

.tertiary-card-btn {
  color: var(--tertiary-card-color);
}

.card-btn:hover,
.card-btn:focus {
  background-color: transparent;
  color: var(--button-color);
  border: 2px solid var(--button-color);
}

.card-btn:active {
  transform: scale(0.96);
}

/* ************* */

/* CARD STYLES */

.card-wrapper {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  width: 90%;
  max-width: 1000px;
  margin: 5em 0;
}

.card {
  display: grid;
  grid-template: 2em repeat(4, 1fr) 2em / 2em repeat(2, 1fr) 2em;
  grid-template-areas:
    ". . . ."
    ". image . ."
    ". title . ."
    ". para para ."
    ". btn . ."
    ". . . .";
  justify-content: start;
  align-items: center;
}

.card-img {
  grid-area: image;
}

.card-title {
  grid-area: title;
}

.card-description {
  grid-area: para;
}

.card-btn {
  grid-area: btn;
  justify-self: start;
}

.card-title {
  letter-spacing: 2px;
}

@media (min-width: 800px) {
  .card-wrapper {
    margin: 0;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    margin: 0;
  }

  .tertiary-card {
    grid-column: 1 /-1;
  }
}

@media (min-width: 1280px) {
  .card-wrapper {
    grid-template: 1fr / repeat(3, 1fr);
  }

  .tertiary-card {
    grid-column: auto;
  }
}
